{% extends "_layouts/site" %}
	{% block main %}
		<header class="alt2">
			<div class="flex">
				<div class="g1-flex4 g2-flex6 g3-flex12">
					<h1 class="alpha center reverse">Brew News</h1>
				</div>
			</div>
		</header>
		{% paginate craft.entries.section('news').limit('4') as newsEntries %}
		<div class="flex">			
			{% for newsEntry in newsEntries %}
			<article class="{% if loop.first and craft.request.pageNum == 1 %}featured {% endif %}news-entry">
				<figure>
					<a href="{{ newsEntry.url }}">
					{% if loop.first and craft.request.pageNum == 1 %}
					<img src="{{ newsEntry.featuredImage.first().getUrl() }}" alt="{{ newsEntry.title }}" width="570" height="348">
					{% else %}
					<img src="{{ newsEntry.featuredImage.first().getUrl('thumb') }}" alt="{{ newsEntry.title }}" width="280" height="204"></a>
					{% endif %}
				</figure>
				<div class="summary-wrap">
					<h3><a href="http://buildwithcraft.com">{{ newsEntry.title }}</a></h3>
					<p>What a well developed site. I really enjoy the design and the attention to details and performance: great use of video and animations (with CSS3 and JS); categories section with so many images and video had a very good scroll frame rate...</p>
					<p><a href="http://buildwithcraft.com" class="more-link">Check it out</a></p>
				</div>
			</article>
			{% endfor %}
			<hr class="horz-rule">

			<div class="pagination">
				<ul>
					{% if paginate.prevUrl %}
					<li><a href="{{ paginate.prevUrl }}" class="pag-prev-link">Previous Page</a></li>
					{% endif %}
					{% for page, url in paginate.getPreviousUrls(5) %}
					<li><a href="{{ url }}">{{ page }}</a></li>
					{% endfor %}
					<li class="current">{{ paginate.currentPage }}</li>
					{% for page, url in paginate.getNextUrls(5) %}
					<li><a href="{{ url }}">{{ page }}</a></li>
					{% endfor %}
					{% if paginate.nextUrl %}
					<li><a href="{{ paginate.nextUrl }}" class="pag-next-link">Next Page</a></li>
					{% endif %}
				</ul>
			</div>
			{% endpaginate %}
		</div>
	{% endblock %}
